* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    color:white;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
    border:3px solid grey;
}
.container .left
{
    position: relative;
    background: black;
    padding: 40px;
}
.container .right {
    position: relative;
    background:#bfebd5;
    padding: 40px;
}
.text{
    position:relative;
    display: flex;
    border-bottom: 2px solid grey;
}

.contact{
    padding-top: 40px;
}
.contact ul li{
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.education{
    padding-top: 40px;
}

.education ul li {
    /* list-style: none; */
    margin:10px 0 ;
    cursor: pointer;
    margin-left: 15px;
}
.lang {
    padding-top: 40px;
}

.lang ul li {
    /* list-style: none; */
    margin: 10px 0;
    cursor: pointer;
    margin-left: 15px;
}

.left{
    color: white;
}

.right{
    color:black
}

.profile {
    margin-top: 20px;
    
}

.about ul li{
    margin:10px;
    list-style-type: style type;
    color: black;
}

.skills ul li {
    margin: 10px;
    list-style-type: style type;
    color: black;
}
.skills{
    margin-top: 10px;
}

.class1{
background-color: #B8B8B8;
    border: 1px solid grey;
    border-radius: 5%;
    padding :30px;
    border-left: 20px;
    border-right: 20px;
    box-shadow: 30px;
}

.class2{
    background-color:#B8B8B8;
        border: 1px solid grey;
        border-radius: 5%;
        padding: 30px;
        border-left: 20px;
        border-right: 20px;
}

.class3 {
    background-color: #B8B8B8;
    border: 1px solid grey;
    border-radius: 5%;
    padding: 30px;
    border-left: 20px;
    border-right: 20px;
}